{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block container %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Apagar</h1>
        </div>
        <form action="" method="POST">
            <p>Deseja realmente cancelar a matricula co curso: <strong>{{ object }}</strong>?</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">Excluir</button>
            
            <a href="{% url 'alunos:list_curso_aluno' %}"> 
                <button type="button" class="btn btn-outline-danger">Cancelar</button>
            </a>
        </form>
    </div>
</div>
{% endblock %}